<main class="container">
  <div class="row text-center justify-content-center">
    <div class="col">
      <h2 class="my-5">Value of request.host: <span class="text-success"><%= request.host%></span></h2>
      <h2 class="my-5">Value of request.domain: <span class="text-success"><%= request.domain%></span></h2>
      <h2 class="my-5">Value of XSRF-TOKEN cookie: <span class="text-success"><%= cookies['XSRF-TOKEN']%></span></h2>
    </div>
  </div>
</main>